---
import Code from "../Code/index.astro"
import dedent from "dedent"
// 就一個 readme 不想引入 mdx
---

<h3 class="na-title">先決條件</h3>

<Code
    code={dedent`
        pnpm i @nanarino/stylus
    `}
    lang="shell"
/>

<Code
    code={dedent`
        ---
        import stylus from "@nanarino/stylus?url" // [!code ++]
        ---
        <html lang="en-HK">
            <head>
                <link rel="stylesheet" href={stylus} /> // [!code ++]
            </head>
            <body>
                <slot />
            </body>
        </html>
    `}
/>

<p class="na-paragraph">
    若使用 <code class="na-code na-code-no-bg">css in js</code> 方式引入，有些打包器（如<code
        class="na-code na-code-no-bg">vite</code
    >）在構建后纔會將其置於
    <code class="na-code na-code-no-bg">{"<head />"}</code> 中，開發環境出現
    <a
        class="na-link"
        href="https://en.wikipedia.org/wiki/Flash_of_unstyled_content"
        target="_blank"
    >
        FOUC
    </a>
    問題是正常的
</p>

<Code
    code={dedent`
        // css in js
        import "@nanarino/stylus"
    `}
    lang="typescript"
/>

<p class="na-paragraph">
    但是初始化明暗的脚本不應該使用
    <code class="na-code na-code-no-bg"> import </code> 引入
</p>

<Code
    code={dedent`
        // [!code word:is\:inline]
        <html lang="en-HK">
            <head>
                <script is:inline>
                    document.documentElement.dataset["theme"] =
                        localStorage.getItem("theme") ??
                        ["dark", "light"][
                            +!window.matchMedia?.("(prefers-color-scheme: dark)")?.matches
                        ]
                </script>
            </head>
            <body>
                <slot />
            </body>
        </html>
    `}
    lang="astro"
/>

<h3 class="na-title">套用元件</h3>

<p class="na-paragraph">
    元件暫時未計劃發佈到
    <a class="na-code na-link" href="https://www.npmjs.com/" target="_blank">
        npm
    </a> ，可以按以下方式安裝, 或者直接拷貝到自己的專案。
</p>

<Code
    code={dedent`
        // package.json

        {
            "dependencies": {
                "@nanarino/vue": "github:nanarino/vue", // [!code ++]
            },
            "pnpm": {
                "overrides": {
                    "@nanarino/stylus": "$@nanarino/stylus", // [!code ++]
                }
            }
        }
    `}
    lang="jsonc"
/>

<Code
    code={dedent`
        pnpm update @nanarino/vue
    `}
    lang="shell"
/>

<p class="na-paragraph">直接從源程式碼引入</p>

<Code
    code={dedent`
        <script setup lang="ts">
        import Button from "@nanarino/vue/src/lib/Button" // [!code ++]
        </script>
        <template>
            <Button> HOLA </Button> // [!code ++]
        </template>
    `}
    lang="vue"
/>

<style>
    .na-code-no-bg {
        --background-color-code: 0 0 0 / 0;
    }
</style>
