---
import App from "@/layouts/app.astro"
import ImageUploaderSpec from "@/examples/ImageUploader.spec.vue"
---

<App title="圖片上傳">
    <section>
        <ImageUploaderSpec client:only="vue" />
    </section>
</App>

<style>
    section {
        padding: 16px;
    }
</style>
